.home__screen {
  min-height: 100vh;
  background-color: #eee;
  margin-top: 38px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../../images/pc.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  background-color: #eee;
  max-width: 70%;
  max-height: 120px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
}

.jumbotron > h2 {
  margin: 5px 5px 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #55f;
  font-size: 1.5em;
}

.jumbotron > p {
  margin: 5px;
  font-size: 1em;
  color: #444;
}
