.posts__screen {
  min-height: 100vh;
  background-color: #eee;
  margin-top: 38px;
}

.posts__screen > h2,
.btn {
  text-align: center;
}

.btn {
  margin: 0 auto 8px;
  background-color: rgb(11, 79, 255);
  border: 1px solid #58f;
  border-radius: 8px;
  max-width: 25%;
  padding: 6px;
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #58f;
  color: #333;
}

@media all and (max-width: 550px) {
  .posts__screen > h2 {
    font-size: 1em;
  }

  .btn {
    min-width: 60%;
  }
}
