.photo__screen {
  min-height: 100vh;
  background-color: #eee;
  margin-top: 38px;
  padding: 2px 0 5px;
}

.go__back {
  margin: 5px;
}

.link {
  text-decoration: none;
  background-color: rgb(194, 176, 176);
  border: 1px solid #eee;
  border-radius: 5px;
  color: black;
  font-size: 0.8em;
  padding: 3px 6px;
  transition: all 0.3s;
}

.link:hover {
  background-color: #333;
  color: #eee;
}

.photo__screen > h2 {
  text-align: center;
  margin-top: 0;
}

@media all and (max-width: 600px) {
  .photo__screen > h2 {
    font-size: 1em;
  }
}
